html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
}

.countdownHolder{
    width:450px;
	margin:0 auto;
	font: 40px/1.5 'Open Sans Condensed',sans-serif;
	text-align:center;
	letter-spacing:-3px;
}

.position{
	display: inline-block;
	height: 1.6em;
	overflow: hidden;
	position: relative;
	width: 1.05em;
}

.digit{
	position:absolute;
	display:block;
	width:1em;
	background-color:#444;
	border-radius:0.2em;
	text-align:center;
	color:#fff;
	letter-spacing:-1px;
}

.digit.static{
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
	
	background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, #3A3A3A),
		color-stop(0.5, #444444)
	);
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{  display:none !important; }
.countDiv0{  display:none !important; }
.countHours{}
.countDiv1{}
.countMinutes{}
.countDiv2{}
.countSeconds{}


.countDiv{
	display:inline-block;
	width:16px;
	height:1.6em;
	position:relative;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:5px;
	height:5px;
	background-color:#444;
	border-radius:50%;
	left:50%;
	margin-left:-3px;
	top:0.5em;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
}

.countDiv:after{
	top:0.9em;
}

#HTML_1 {
    height: 482px;
    width: 1387px;
    z-index: 0;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
}/*#HTML_1*/

#HEAD_2, #META_3, #META_5, #LINK_7, #STYLE_9, #SCRIPT_11, #SCRIPT_13, #SCRIPT_15, #SCRIPT_17, #STYLE_19, #SCRIPT_21, #SCRIPT_23, #SCRIPT_25 {
}/*#HEAD_2, #META_3, #META_5, #LINK_7, #STYLE_9, #SCRIPT_11, #SCRIPT_13, #SCRIPT_15, #SCRIPT_17, #STYLE_19, #SCRIPT_21, #SCRIPT_23, #SCRIPT_25*/

#TITLE_4, #META_6, #SCRIPT_10, #SCRIPT_14, #SCRIPT_18, #LINK_22 {
}/*#TITLE_4, #META_6, #SCRIPT_10, #SCRIPT_14, #SCRIPT_18, #LINK_22*/

#LINK_8, #SCRIPT_12, #SCRIPT_20 {
}/*#LINK_8, #SCRIPT_12, #SCRIPT_20*/

#SCRIPT_16, #META_24 {
}/*#SCRIPT_16, #META_24*/

#BODY_26 {
    color: rgb(51, 51, 51);
    height: 482px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 1387px;
    border: 0px none rgb(51, 51, 51);
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#BODY_26*/

#DIV_27 {
    background-position: 50% 50%;
    color: rgb(51, 51, 51);
    height: 695px;
    min-height: 100%;
    min-width: 932px;
    position: relative;
    text-decoration: none solid rgb(51, 51, 51);
    top: 0px;
    width: 1387px;
    background: rgb(255, 255, 255) url(/img/white-wall-hash-2x.original.png) repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
    overflow: auto;
}/*#DIV_27*/

#DIV_28 {
    color: rgb(51, 51, 51);
    left: 693.5px;
    position: absolute;
    text-decoration: none solid rgb(51, 51, 51);
    top: 0px;
    width: 932px;
    z-index: 1;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    margin: 0px 0px 0px -466px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_28*/

#DIV_29 {
    color: rgb(51, 51, 51);
    height: 17px;
    left: 0px;
    position: absolute;
    text-decoration: none solid rgb(51, 51, 51);
    top: 666px;
    width: 329px;
    z-index: 6;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_29*/

#P_30 {
    color: rgb(51, 51, 51);
    height: 17px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 329px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_30*/

#SPAN_31, #SPAN_50 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/0px lato;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_31, #SPAN_50*/

#SPAN_32 {
    color: rgb(153, 153, 153);
    text-decoration: none solid rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal 14px/0px lato;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_32*/

#SPAN_33 {
    color: rgb(153, 153, 153);
    text-decoration: none solid rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal 13px/17px lato;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_33*/

#DIV_34 {
    color: rgb(51, 51, 51);
    height: 17px;
    left: 603px;
    position: absolute;
    text-decoration: none solid rgb(51, 51, 51);
    top: 667px;
    width: 329px;
    z-index: 7;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_34*/

#P_35 {
    color: rgb(51, 51, 51);
    height: 17px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    width: 329px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_35*/

#SPAN_36 {
    color: rgb(51, 51, 51);
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/0px lato;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_36*/

#A_37 {
    color: rgb(62, 156, 227);
    text-align: right;
    text-decoration: none solid rgb(62, 156, 227);
    border: 0px none rgb(62, 156, 227);
    font: normal normal normal 14px/0px lato;
    outline: rgb(62, 156, 227) none 0px;
}/*#A_37*/

#SPAN_38 {
    color: rgb(153, 153, 153);
    text-align: right;
    text-decoration: none solid rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal 14px/0px lato;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_38*/

#SPAN_39 {
    color: rgb(153, 153, 153);
    text-align: right;
    text-decoration: none solid rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal 13px/17px lato;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_39*/

#DIV_40 {
    color: rgb(51, 51, 51);
    height: 117px;
    left: 0px;
    position: absolute;
    text-decoration: none solid rgb(51, 51, 51);
    top: 0px;
    width: 91px;
    z-index: 8;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#DIV_40*/

#DIV_41 {
    color: rgb(51, 51, 51);
    height: 117px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 91px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#DIV_41*/

#A_42, #A_46 {
    color: rgb(62, 156, 227);
    text-decoration: none solid rgb(62, 156, 227);
    border: 0px none rgb(62, 156, 227);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(62, 156, 227) none 0px;
}/*#A_42, #A_46*/

#IMG_43 {
    color: rgb(62, 156, 227);
    height: 117px;
    text-decoration: none solid rgb(62, 156, 227);
    vertical-align: top;
    width: 91px;
    border: 0px none rgb(62, 156, 227);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(62, 156, 227) none 0px;
}/*#IMG_43*/

#DIV_44 {
    color: rgb(51, 51, 51);
    height: 78px;
    left: 93px;
    position: absolute;
    text-decoration: none solid rgb(51, 51, 51);
    top: 30px;
    width: 417px;
    z-index: 9;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#DIV_44*/

#DIV_45 {
    color: rgb(51, 51, 51);
    height: 78px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 417px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#DIV_45*/

#IMG_47 {
    color: rgb(62, 156, 227);
    height: 78px;
    text-decoration: none solid rgb(62, 156, 227);
    vertical-align: top;
    width: 417px;
    border: 0px none rgb(62, 156, 227);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(62, 156, 227) none 0px;
}/*#IMG_47*/

#DIV_48 {
    color: rgb(51, 51, 51);
    height: 22px;
    left: 535px;
    position: absolute;
    text-decoration: none solid rgb(51, 51, 51);
    top: 38px;
    width: 439px;
    z-index: 10;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_48*/

#P_49 {
    color: rgb(51, 51, 51);
    height: 22px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 439px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/22px helvetica, arial, 'sans serif';
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_49*/

#STRONG_51 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold 14px/0px lato;
    outline: rgb(51, 51, 51) none 0px;
}/*#STRONG_51*/

#SPAN_52 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold 18px/0px lato;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_52*/

#SPAN_53 {
    color: rgb(153, 153, 153);
    text-decoration: none solid rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal bold 18px/0px lato;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_53*/

#A_54 {
    color: rgb(62, 156, 227);
    text-decoration: none solid rgb(62, 156, 227);
    border: 0px none rgb(62, 156, 227);
    font: normal normal bold 18px/0px lato;
    outline: rgb(62, 156, 227) none 0px;
}/*#A_54*/

#DIV_55 {
    color: rgb(51, 51, 51);
    height: 222px;
    left: 173px;
    position: absolute;
    text-decoration: none solid rgb(51, 51, 51);
    top: 195px;
    width: 584px;
    z-index: 1;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(204, 204, 204);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_55*/

#DIV_56 {
    color: rgb(51, 51, 51);
    height: 77px;
    left: 178px;
    position: absolute;
    text-decoration: none solid rgb(51, 51, 51);
    top: 21px;
    width: 227px;
    z-index: 2;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_56*/

#P_57 {
    color: rgb(51, 51, 51);
    height: 77px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    width: 227px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/77px helvetica, arial, 'sans serif';
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_57*/

#SPAN_58 {
    color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 48px/0px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_58*/

#SPAN_59 {
    color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 48px/0px lato;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_59*/

#SPAN_60 {
    color: rgb(62, 156, 227);
    text-align: center;
    text-decoration: none solid rgb(62, 156, 227);
    border: 0px none rgb(62, 156, 227);
    font: normal normal normal 48px/0px lato;
    outline: rgb(62, 156, 227) none 0px;
}/*#SPAN_60*/

#DIV_61 {
    color: rgb(51, 51, 51);
    height: 38px;
    left: -3px;
    position: absolute;
    text-decoration: none solid rgb(51, 51, 51);
    top: 91px;
    width: 590px;
    z-index: 5;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_61*/

#P_62 {
    color: rgb(51, 51, 51);
    height: 38px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    width: 590px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/38px helvetica, arial, 'sans serif';
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_62*/

#SPAN_63 {
    color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 24px/0px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_63*/

#FONT_64 {
    color: rgb(102, 102, 102);
    text-align: center;
    text-decoration: none solid rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 24px/0px lato;
    outline: rgb(102, 102, 102) none 0px;
}/*#FONT_64*/

#DIV_65 {
    color: rgb(51, 51, 51);
    height: 99px;
    left: 210px;
    position: absolute;
    text-decoration: none solid rgb(51, 51, 51);
    top: 85px;
    width: 164px;
    z-index: 3;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 0px none rgb(204, 204, 204);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(204, 204, 204);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_65*/

#DIV_66 {
    color: rgb(51, 51, 51);
    height: 80px;
    left: -174px;
    position: absolute;
    text-decoration: none solid rgb(51, 51, 51);
    top: 52px;
    width: 512px;
    z-index: 4;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#DIV_66*/

#DIV_67 {
    color: rgb(51, 51, 51);
    height: 80px;
    letter-spacing: -3px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    width: 450px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 40px/60px 'Open Sans Condensed', sans-serif;
    margin: 0px 31px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_67*/

#SPAN_68 {
    color: rgb(51, 51, 51);
    display: none;
    letter-spacing: -3px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 40px/60px 'Open Sans Condensed', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_68*/

#SPAN_69, #SPAN_71, #SPAN_75, #SPAN_77, #SPAN_81, #SPAN_83, #SPAN_87, #SPAN_89 {
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 64px;
    letter-spacing: -3px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    width: 42px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 40px/60px 'Open Sans Condensed', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#SPAN_69, #SPAN_71, #SPAN_75, #SPAN_77, #SPAN_81, #SPAN_83, #SPAN_87, #SPAN_89*/

#SPAN_70, #SPAN_72 {
    box-shadow: rgba(4, 4, 4, 0.34902) 1px 1px 1px 0px;
    color: rgb(255, 255, 255);
    display: block;
    letter-spacing: -1px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 40px;
    background: rgb(68, 68, 68) -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.5, rgb(58, 58, 58)), color-stop(0.5, rgb(68, 68, 68))) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    font: normal normal normal 40px/60px 'Open Sans Condensed', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_70, #SPAN_72*/

#SPAN_73 {
    color: rgb(51, 51, 51);
    display: none;
    height: 64px;
    letter-spacing: -3px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    width: 16px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 40px/60px 'Open Sans Condensed', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_73*/

#SPAN_74, #SPAN_80, #SPAN_86 {
    color: rgb(51, 51, 51);
    letter-spacing: -3px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 40px/60px 'Open Sans Condensed', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_74, #SPAN_80, #SPAN_86*/

#SPAN_76, #SPAN_78, #SPAN_82, #SPAN_88 {
    box-shadow: rgba(4, 4, 4, 0.34902) 1px 1px 1px 0px;
    color: rgb(255, 255, 255);
    display: block;
    height: 60px;
    letter-spacing: -1px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 40px;
    background: rgb(68, 68, 68) -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.5, rgb(58, 58, 58)), color-stop(0.5, rgb(68, 68, 68))) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    font: normal normal normal 40px/60px 'Open Sans Condensed', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_76, #SPAN_78, #SPAN_82, #SPAN_88*/

#SPAN_79, #SPAN_85 {
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 64px;
    letter-spacing: -3px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    width: 16px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 40px/60px 'Open Sans Condensed', sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_79, #SPAN_85*/

#SPAN_79:after, #SPAN_85:after {
    box-shadow: rgba(4, 4, 4, 0.498039) 1px 1px 1px 0px;
    color: rgb(51, 51, 51);
    display: block;
    height: 5px;
    left: 8px;
    letter-spacing: -3px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    top: 36px;
    width: 5px;
    content: '';
    background: rgb(68, 68, 68) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal 40px/60px 'Open Sans Condensed', sans-serif;
    margin: 0px 0px 0px -3px;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_79:after, #SPAN_85:after*/

#SPAN_79:before, #SPAN_85:before {
    box-shadow: rgba(4, 4, 4, 0.498039) 1px 1px 1px 0px;
    color: rgb(51, 51, 51);
    display: block;
    height: 5px;
    left: 8px;
    letter-spacing: -3px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    top: 20px;
    width: 5px;
    content: '';
    background: rgb(68, 68, 68) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal 40px/60px 'Open Sans Condensed', sans-serif;
    margin: 0px 0px 0px -3px;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_79:before, #SPAN_85:before*/

#SPAN_84, #SPAN_90 {
    box-shadow: rgba(4, 4, 4, 0.34902) 1px 1px 1px 0px;
    color: rgb(255, 255, 255);
    display: block;
    height: 60px;
    letter-spacing: -1px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 40px;
    background: rgb(68, 68, 68) -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.5, rgb(58, 58, 58)), color-stop(0.5, rgb(68, 68, 68))) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    font: normal normal normal 40px/60px 'Open Sans Condensed', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_84, #SPAN_90*/

#DIV_91 {
    background-position: 50% 50%;
    color: rgb(51, 51, 51);
    height: 136px;
    position: relative;
    text-decoration: none solid rgb(51, 51, 51);
    width: 932px;
    background: rgba(255, 255, 255, 0) url(/img/white-wall-hash-2x.original.png) repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    margin: 0px 227.5px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_91*/

#DIV_92 {
    color: rgb(51, 51, 51);
    height: 136px;
    position: relative;
    text-decoration: none solid rgb(51, 51, 51);
    width: 932px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_92*/

#DIV_93 {
    background-position: 50% 50%;
    color: rgb(51, 51, 51);
    height: 519px;
    position: relative;
    text-decoration: none solid rgb(51, 51, 51);
    width: 932px;
    background: rgba(255, 255, 255, 0) url(/img/white-wall-hash-2x.original.png) repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    margin: 0px 227.5px 1px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_93*/

#DIV_94 {
    color: rgb(51, 51, 51);
    height: 519px;
    position: relative;
    text-decoration: none solid rgb(51, 51, 51);
    width: 932px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_94*/

#DIV_95 {
    background-position: 50% 50%;
    color: rgb(51, 51, 51);
    height: 38px;
    position: relative;
    text-decoration: none solid rgb(51, 51, 51);
    width: 932px;
    background: rgba(255, 255, 255, 0) url(/img/white-wall-hash-2x.original.png) repeat scroll 50% 50% / auto padding-box border-box;
    border-top: 1px solid rgb(234, 234, 234);
    border-right: 0px none rgb(234, 234, 234);
    border-bottom: 0px none rgb(234, 234, 234);
    border-left: 0px none rgb(234, 234, 234);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    margin: 0px 227.5px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_95*/

#DIV_96 {
    color: rgb(51, 51, 51);
    height: 38px;
    position: relative;
    text-decoration: none solid rgb(51, 51, 51);
    width: 932px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/17px helvetica, arial, 'sans serif';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_96*/

#SCRIPT_97, #SCRIPT_98, #NOSCRIPT_101, #SCRIPT_103 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    outline: rgb(51, 51, 51) none 0px;
}/*#SCRIPT_97, #SCRIPT_98, #NOSCRIPT_101, #SCRIPT_103*/

#SCRIPT_99, #SCRIPT_102 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    outline: rgb(51, 51, 51) none 0px;
}/*#SCRIPT_99, #SCRIPT_102*/

#IMG_100 {
    color: rgb(51, 51, 51);
    height: 1px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 1px;
    border: 0px none rgb(51, 51, 51);
    outline: rgb(51, 51, 51) none 0px;
}/*#IMG_100*/

